<mat-card id="{{product?.key}}" class="example-card">
    <mat-card-header>
        <mat-card-title>{{product?.title | titlecase}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{product?.imageUrl}}">
    <mat-card-content>
        <span class="price">{{product?.price | currency:"INR"}}</span>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="addToCart()" mat-button>
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        {{product_count}}&ensp;in cart
        <button (click)="deleteFromCart()" mat-button>
            <mat-icon>remove_circle_outline</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>