<mat-card id="{{product?.key}}" class="example-card">
    <mat-card-header>
        <mat-card-title>{{product?.title | titlecase}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{product?.imageUrl}}">
    <mat-card-content>
        <span class="price">{{product?.price | currency:"INR"}}</span>
    </mat-card-content>
    <mat-card-actions>
        <ng-template #options>
            <button (click)="addToCart()" mat-button>
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <span>{{product_count}}&ensp;in cart</span>
            <button (click)="deleteFromCart()" mat-button>
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
        </ng-template>
        <button class="addToCartButton" mat-raised-button (click)="addToCart()"
            *ngIf="product_count == 0; else options">
            Add to cart
        </button>
    </mat-card-actions>
</mat-card>