<h1>Shopping cart</h1>

<ng-template #emptyCart>
    <img src="https://www.incomebazaar.com/img/empty-cart.jpg">
</ng-template>
<ng-container *ngIf="shoppingCartService.cart_products_count > 0 ; else emptyCart">
    <button mat-raised-button (click)="shoppingCartService.clearCart()">Clear Shopping Cart</button>
    <br><br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> Count </th>
            <td mat-cell *matCellDef="let element"> {{element.count}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns;" mat-button
            routerLink="/admin/products/{{row.key}}"></tr>
    </table>
</ng-container>