.page {
    display: flex;
    flex-direction: row;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form > mat-form-field {
    width: 100%;
}

form > * button {
    margin-right: 1rem;
}

.card {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


